<f:subview
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:it="http://www.ideais.com.br/jsf">
	<div class="container-fluid" >
		<div class="row-fluid">
			<div class="span12">
				<div style="background-color: #D2B48C;border-radius: 6px; height: 36px "  > 
					<ul class="nav nav-pills nav-justified" style="font-size:18px ">
						<li class="pulse-grow"><a  href="#tab1"><span class="label label-primary">SUBMARINO</span></a></li>
						<li class="pulse-grow"><a  href="#tab1"><span class="label label-primary">STAGING SUBA </span></a></li>
						<li class="pulse-grow"><a  href="#tab2"><span class="label label-danger" >AMERICANAS        </span></a></li>
						<li class="pulse-grow"><a  href="#tab2"><span class="label label-danger" >STAGING ACOM</span></a></li>
						<li class="pulse-grow"><a  href="#tab3"><span class="label label-warning">SHOPTIME</span></a></li>
						<li class="pulse-grow"><a  href="#tab3"><span class="label label-info"   >SOUBARATO</span></a></li>
						<li class="pulse-grow"><a  href="#tab3"><span class="label label-success">HOMOLOGAÇÃO</span></a></li>						
					</ul>
			   </div> 
          </div>			
		</div>
	</div>
</f:subview>